<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css">
	<script th:src="@{/js/index.js}" charset="utf-8"></script>
	<title>社員検索画面</title>
</head>
<body>
	
	<!-- エラーメッセージ表示-->
	<div class="error_msg">
		<ul th:each="message : ${error_messages}">
			<li th:text="${message}"></li>
		</ul>
	</div>
	
	<!-- 社員検索フォーム -->
	<div class="main">
		<div class="form">
			<table border="1">
				<form method="post" th:object="${form}" th:action="@{/shain/kensaku}" id="shain_info">
					<tr>
						<th>社員番号</th>
						<td><input type="text" th:field="*{shain_no}" maxlength="6"></td>
						<th>部署</th>
						<!-- 部署のプルダウン作成 -->
						<td>
							<select th:field="*{department_id}">
								<option value="0"></option>
								<option
								    th:each="department : ${departmentList}"
								    th:value="${department.id}"
								    th:text="${department.department_name}">
								</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>氏名（漢字）</th>
						<td><input type="text" th:field="*{shain_name}" maxlength="40"></td>
						<th>氏名（カナ）</th>
						<td><input type="text" th:field="*{shain_kana}" maxlength="40"></td>
					</tr>
				</form>
			</table>
		</div>
		
		<!-- 検索ボタン、クリアボタンの表示-->
		<div class="btn">
			<!-- 検索ボタン -->
			<input type="submit" value="検索" form="shain_info">
			<!-- クリアボタン -->
			<input type="submit" value="クリア" onclick="clearForm()">
		</div>
		
		<!-- 社員情報の表示 -->
		<div class="shain_display">
			<table border="1">
				<tr>
					<th></th>
					<th>連番</th>
					<th>社員番号</th>
					<th>氏名（漢字）</th>
					<th>氏名（カナ）</th>
					<th>部署</th>
				</tr>
				<tr th:each="employee,employees:${shainList}">
					<td>
						<!-- 選択ボタンの表示 -->
						<div class="sentaku_btn">
							<form method="get" th:action="@{/change}">
								<input type="text" name="shain_no" th:value="${employee.shainNo}" hidden/>
								<input type="text" name="shain_name" th:value="${employee.shain_name}" hidden>
								<input type="text" name="shain_kana" th:value="${employee.shain_kana}" hidden>
								<input type="text" name="id" th:value="${employee.department_id}" hidden>
								<input type="submit" value="選択" />
						    </form>
						</div>
					</td>
					<td th:text="${employees.count}"></td>
					<td th:text="${employee.shainNo}"></td>
					<td th:text="${employee.shain_name}"></td>
					<td th:text="${employee.shain_kana}"></td>
					<td th:text="${employee.department_name}"></td>
				</tr>
			</table>
		</div>
		
		<!-- 新規登録ボタンの表示 -->
		<div class="btn">
			<form method="get" th:action="@{/add}">
				<input type="submit" value="新規登録"> 
			</form>
		</div>
		
	</div>
	
</body>
</html>